* {
  font-family: "futura-pt", Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  font-size: 18px;
}

h1 {
  margin: 10px 0;
  font-weight: 400;
}

.jumbo {
  font-size: 3.5rem;
}

body {
  font-size: 0.83rem;
  margin: 0px;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #000;
  background-color: #fff;
  padding: 1.5rem 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: block;
  text-align: center;
  text-decoration: none;
}

/* menu items */
#primary-menu .current-menu-item,
.mobile-menu #primary-menu .current-menu-item > a,
.filters.slide a.nav-link.active {
  display: inline-block;
  background-size: 300% 0.3rem;
  background-position: left 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    #31ccc3,
    #8a2387,
    #e94057,
    #f27121
  );
  animation: gradient 3s linear infinite;
  -webkit-animation: gradient 3s linear infinite;
}

#primary-menu .current-menu-item a,
.filters a.nav-link.active {
  pointer-events: none;
}

#primary-menu .menu-item a,
.filters.slide a.nav-link {
  text-decoration: none;
  transition: all 0.3s linear;
  display: inline-block;
  padding-bottom: 0.35rem;
  background-size: 0 0.3rem;
  background-position: left 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    #31ccc3,
    #8a2387,
    #e94057,
    #f27121
  );
}

#primary-menu .menu-item a:hover,
.filters.slide a.nav-link:hover {
  background-size: 100% 0.3rem;
}

/* nav .link {
  text-decoration: none;
  color: white;
}

nav li:hover {
  background-color: #3b3a30;
} */

header,
footer {
  font-size: 0.88rem;
  line-height: 1.16rem;
  font-weight: 600;
  text-transform: uppercase;
}

#main {
  padding: 2rem 0 0 0;
}

.left-margin {
  margin: 0 0 0 50%;
}

/* .sidebar {
  width: 120px;
  background: #222;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
} */

/* .small {
  font-size: 12px;
} */

.center {
  text-align: center;
}

/* .bar-item {
  width: 100%;
  display: block;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
} */
/* 
.button {
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
} */

.padding-large {
  padding: 12px 24px;
}

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* .black,
.hover-black:hover {
  color: #000;
  background-color: #fff;
} */

header {
  text-align: center;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.justify {
  text-align: justify;
}

.content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.text-grey {
  color: #757575;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 0;
  border-top: 1px solid #000;
  margin: 20px 0;
}

.grey-background {
  background-color: #f9f9f9;
}

.opacity {
  opacity: 0.6;
}

h2,
h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image {
  max-width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

figcaption {
  text-align: center;
}

.wide {
  letter-spacing: 4px;
}

.white {
  color: #000;
  background-color: #fff;
}

.dark-grey {
  color: #fff;
  background-color: #616161;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin-right {
  margin-right: 3%;
  /* 16px */
}

.margin-left {
  margin-left: 3%;
  /* 16px */
}

.circle {
  border-radius: 50%;
}

.large {
  font-size: 18px;
}

a {
  color: #000;
}

.section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.top {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.bar {
  width: 100%;
  overflow: hidden;
}

.bar .bar-item {
  float: left;
  border: none;
  display: block;
  outline: 0;
}

@media only screen and (max-width: 600px) {
  .hide-small {
    display: none;
  }
  #main {
    margin-left: 0;
  }
}

@media only screen and (min-width: 600px) {
  .hide-large {
    display: none;
  }
}
